# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment files
.env
.venv/
env/
venv/

# Python virtualenv
*.egg-info/
.eggs/
dist/
build/

# Data outputs
*.log
*.csv
*.json

# OS-specific
.DS_Store
Thumbs.db
